body{
    background-color: rgb(166, 192, 166);
    font-family:'Times New Roman', Times, serif;
}

#heading{
    background-color:black;
    color: rgb(166, 192, 166);
    font-size: 90px;
    text-align: center;
    margin:0 5px 50px 5px;
}

.u-list{
    margin:0 40%;
}

.one,
.two,
.three{
    padding-bottom:20px;
}